@page "/"
@using Models

<img src="images/fishcard_logo_v2_200.jpg" alt="A picture of fishcard" title="Hello fishcard!" />
<div>💡 What fish are safe to eat during pregnancy?</div>

<input placeholder="Search a fish by name" @bind="Keyword" @bind:event="oninput"
    list="all_fish" />

<div>@Keyword</div>

<button @onclick="Search">Search</button>
<button>Clear</button>

@if (Result is not null)
{
    @foreach (FishItem fish in Result)
    {
        <div>@fish.Name</div>
        <div>@fish.Recommendation</div>
    }
}

<datalist id="all_fish">
    @if(_allFish is not null)
    {
        @foreach (FishItem fish in _allFish)
        {
            <option value=@fish.Name />
        }
    }
</datalist>