@page "/"
@using Fishcard.Contracts
@inject DataService _dataService

<img src="images/fishcard_logo_v2_200.jpg" alt="A picture of fishcard" title="Hello fishcard!" />
<div>💡 What fish are safe to eat during pregnancy?</div>

<input placeholder="Search a fish by name" @bind="Keyword" @bind:event="oninput" />

<div>@Keyword</div>

<div>
    <span>Result:</span>
    @if (Result is not null && Result.Length > 0)
    {
        foreach (FishItem fish in Result)
        {
            <div>@fish.Name</div>
            <div>@fish.Recommendation</div>
        }
    }
</div>

<button @onclick=Search>Search</button>
<button @onclick=Clear>Clear</button>
