@inject NavigationManager _navigationManager

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<TestComponent />

<div @onclick=GoToFishcard>Go to fishcard</div>

@code { 
    public void GoToFishcard()
    {
        UriBuilder uriBuilder = new UriBuilder(_navigationManager.BaseUri){
            Path = "/Fishcard/Crab",
        };
        string targetUri = _navigationManager.GetUriWithQueryParameters(
            uriBuilder.Uri.AbsoluteUri,
            new Dictionary<string, object?>
            {
                ["w"] = 200.1,
            }
        );
        _navigationManager.NavigateTo(targetUri);
    }
}
